body {
    background: linear-gradient(90deg, rgb(224, 195, 252), rgb(142, 197, 252));
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.li {
    list-style: none;
}

h1 {
    color: whitesmoke;
    font-size: 25px;
}



.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.conteudo {
    /* background-color: white; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista {
    display: flex;
    flex-direction: column;
    width: 500px;
}

textarea {
    text-align: center;
    height: 100px;
}

input {
    background-color: #ba7af8;
    border: 8px solid #ba7af8;
    color: whitesmoke;
}

#resultado {
    display: block;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}

.resultado--lista {
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
}

.close {
    border: 1px solid grey;
    background-color: grey;
    color: whitesmoke;
}

.tarefa--concluida{
    color: grey;
    text-decoration: line-through;
    font-style: italic;
}

.container--btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.btn {
    background-color: #ba7af8;
    border: 8px solid #ba7af8;
    color: whitesmoke;
    padding: 0;
    width: 45%;
}